@{
    Layout = "_LayoutMaster.cshtml";
}

@section Style
{
    @RenderSection("Style", false)
    <link href="~/Content/css/index.css" type="text/css" rel="stylesheet">
}

@section Script
{
    <script src="~/Scripts/index.js" type="text/javascript"></script>
    @RenderSection("Script", false)
    <script>
        // 更改购物车上小数字的底色是否显示
        window.onload = function() {
            var num = $("em").text();
            if (num === "") {
                $("em").css('display', 'none');
            } else {
                $("em").css('display', 'block');
            }
        };
    </script>
}

@RenderBody()
<!--fixft开始-->
<div class="fixft">
    <a href="@Url.Action("Index", "Home")" class="home current">
        <span><img src="~/Content/images/navicon_45.png" class="img1"><img src="~/Content/images/navicon_28.png" class="img2"></span>
        <i>首页</i>
    </a>
    <a href="@Url.Action("Index", "Sort")"  class="sort">
        <span><img src="~/Content/images/navicon_48.png" class="img1"><img src="~/Content/images/navicon_30.png" class="img2"></span>
        <i>分类</i>
    </a>
    <a href="#" class="car">
        <span><img src="~/Content/images/navicon_50.png" class="img1"><img src="~/Content/images/navicon_32.png" class="img2"><em>@ViewBag.CartProNum</em></span>
        <i>购物车</i>
    </a>
    <a href="@Url.Action("Index","User")" class="my">
        <span><img src="~/Content/images/navicon_42.png" class="img1"><img src="~/Content/images/navicon_35.png" class="img2"></span>
        <i>我的</i>
    </a>
</div>
<!--fixft结束-->